/*--------------------------------------*/

/* fonts */

@font-face {
  font-family: navFont;
  src: url(../fonts/din_condensed_bold.ttf);
}

@font-face {
  font-family: h1Font;
  src: url(../fonts/cubano-regular.otf);
}

h1 {
  font-family: h1font;
  font-size: 80px;
}

h3 {
  font-family: navfont;
  letter-spacing: 3px;
  font-size: 30px;  
  padding-top: 5px;
}

/*--------------------------------------*/

/* nav bar */

nav {
  padding-top: 30px;
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: #12763c;
  top: 0;
}

ul {
  list-style-type: none;
}

ul li {
  float: left;
  min-width: 104px;
}

ul li a {
  display: block;
  background-color: #12763c;
  color: white;
/*  text-transform: uppercase;*/
  text-decoration: none;
  font-family: navFont;
  padding: 16.5px;
  text-align: center;
  font-size: 1em;
  letter-spacing: 3px;
}

.nav-top li a:hover {
  text-decoration: none;
  color: white;
}

.nav-bottom li a:hover {
  color: #12763c;
  background-color: white;
  text-decoration: none;
}

.nav-wrapper {
  float: right; 
  width: 100%;
}

.nav-bottom {
  float: right;
  text-align: right;
  margin-top: -3px;
  margin-right: 24px;
}

.nav-top {
  float: right;
  text-align: right;
  margin-top: -25px;
  margin-right: 30px;
}

.nav-top li {
  display: block;
  background-color: #12763c;
  color: white;
/*  text-transform: uppercase;*/
  text-decoration: none;
  font-family: navFont;
  padding: 16.5px;
  text-align: center;
  font-size: 1em;
  letter-spacing: 3px;
}

.nav-line {
  margin-top: 20px;
  margin-left: 180px;
  height: 2px;
  width: 1500px;
  position: fixed;
  z-index: 10;
  background-color: white;
}

.logo {
  margin-top: -20px;
  margin-left: 25px;
  width: 130px;
  position: fixed;
  z-index: 20;
}

/*--------------------------------------*/

/* main content */

#content-wrapper {
  width: 100%;
  margin: 0 auto;
}

.hero {
  background-image: url(../images/index-hero.png);
  height: 650px;
  box-sizing: border-box;
  background-size: cover;
  padding-top: 21%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-verbiage {
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
  color: white;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, .7);
}
  
.hiking {
  background-image: url(../images/hiking1.png);
  width: 100%;
  background-color: #dac69b;
  height: 480px;
  box-sizing: border-box;
  background-size: cover;
  padding-top: 11%
}

.hiking-verbiage {
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
  color: white;
}

.climbing {
  background-image: url(../images/climbing1.png);
  height: 480px;
  box-sizing: border-box;
  background-size: cover;
  padding-top: 14%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.climbing-verbiage {
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
  color: white;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, .7);
}

.fishing {
  background-image: url(../images/fishing1.png);
  width: 100%;
  background-color: black;
  height: 480px;
  box-sizing: border-box;
  background-size: cover;
  padding-top: 11%
}

.fishing-verbiage {
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
  color: #dac69b;
}

.camping {
  background-image: url(../images/camping1.png);  
  height: 480px;
  box-sizing: border-box;
  background-size: cover;
  padding-top: 14%;
  background-repeat: no-repeat;
  background-attachment: fixed;  
}

.camping-verbiage {
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
  color: white;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, .7);
}

.biking {
  background-image: url(../images/biking1.png);
  width: 100%;
  background-color: black;
  height: 480px;
  box-sizing: border-box;
  background-size: cover;
  padding-top: 11%
}

.biking-verbiage {
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
  color: #dac69b;
}

.rafting {
  background-image: url(../images/rafting1.png);  
  height: 480px;
  box-sizing: border-box;
  background-size: cover;
  padding-top: 14%;
  background-repeat: no-repeat;
  background-attachment: fixed;  
}

.rafting-verbiage {
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
  color: white;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, .7);
}

/*--------------------------------------*/

/* footer */

#footer {
  display: block;
  padding-top: 50px;
  height: 100px;
  text-align: center;
  background-color: #12763c;
}

.footer-links {
  display: inline-block;
  padding: 30px;
  margin-top: -40px;
}

.footer-links a {
  color: white;
/*  text-transform: uppercase;*/
  text-decoration: none;
  font-size: 1em;
  letter-spacing: 3px;
  font-family: navfont;
}

a:hover {
  color: #dac69b;
}

/*--------------------------------------*/

/* misc styles */

.spacer {
  width: 100%;
  height: 50px;
}

@media screen and (max-width:680px){
ul li a, .nav-top li {font-size: 0.8rem}
}

@media screen and (max-width:540px){
ul li a, .nav-top li {font-size: 0.7rem}
}

/*Selectors*/

.selector {
  border-radius: 130px;
  width: 150px;
  height: 150px;
  display: inline-block;

}

.selector:hover {
  background-color: #4CAF50; /* Blue */
}

#hiking {
  background-image: url(../images/hiking_button.png);
}

#climbing {
  background-image: url(../images/climbing_button.png);
}
#fishing {
  background-image: url(../images/fishing_button.png);
}
#camping {
  background-image: url(../images/camping_button.png);
}
#biking {
  background-image: url(../images/biking_button.png);
}
#rafting {
  background-image: url(../images/rafting_button.png);
}

.container2 {
  width: 100%;
  margin: 0 auto;
}

.subcontainer2 {
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
}

/*Selectors*/

/*#slider {
    opacity:1;
    transition: opacity 1s; 
}

#slider.fadeOut {
    opacity:0;*/
}
/*IMAGE SLIDER*/